.todo{
    background-color:orangered;
    height: auto;
}
.box{
    width: 50%;
    height: auto;
    border-radius: 20px;
    background-color: gold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow:scroll; 
    
}
.inputAdd{
    border-radius: 5px;
    background-color:gold;
    width: auto;
    
}
i{
    cursor: pointer;
}
.text-danger {
    color: red;
}

.strike-through {
    text-decoration: line-through;
}

.trash-icon {
    color: red;
    cursor: pointer;
}
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.new-line {
    flex-basis: 100%;
    width: 100%;
}
.compl{
    text-decoration: line-through;
    color: red;
}
input[type=checkbox]:checked + p.strikethrough {
    text-decoration: line-through;
    color: red;
}